<!DOCTYPE html>
<html lang="pt-br">
<header>
    <meta charset="UTF-8">
    <title>Painel de Controle</title>
</header>
<body>
    <h1>Painel de Controle de Espetos</h1>
    <a href="{% url 'adicionar_espeto'%}">Adicionar</a>
    <a href="{% url 'garcom/home_pedidos'%}">Voltar</a>
    <table>
        {% for espeto in espetos %} 
            <tr> 
                <td> {{ espeto.id }} </td>
                <td> {{ espeto.nome }}</td> 
                <td> {{ espeto.tipo }}</td>
                <td> {{ espeto.preco }}</td>
                <td> <a href="{% url 'editar_espeto' espeto.id %}">Editar</a></td>
                <td> <a href="{% url 'deletar_espeto' espeto.id%}">Deletar</a></td>
            </tr> 
        {% endfor %}
    </table>
</body>
</html>